@model List<WebBanHang.Areas.Admin.Models.ProductViewModel>
@{
    ViewData["title"] = "Product List";
}
<h3>List Product</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Loại sản phẩm</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Giá sản phẩm</th>
            <th scope="col">Ghi chú</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <td>@item.TypeName</td>
                    <td>@item.ProductName</td>
                    <td>@item.Price $</td>
                    <td>@item.Note</td>
                </tr>
            }
        }
    </tbody>
</table>
